{% for selection in display['selections'] %}
<div class="species species-{{ loop.index }}" id="display{{ display_index }}-species-{{ loop.index }}" >
    <div>
        <span class="color-display color-{{ loop.index }}"></span> Scatter {{ loop.index }}
    </div>
    <div>
        <input type="text" class="scientific-name-select name-select" autocomplete="off" list="display{{ display_index }}-scientific-name-{{ loop.index }}-list" value="{% if selection['speciesType'] == 'scientific'%}{{ selection['scientificName'] }}{% else %}None{% endif %}" id="display{{ display_index }}-scientific-name-{{ loop.index }}-input">
        <datalist id="display{{ display_index }}-scientific-name-{{ loop.index }}-list">
            {% if loop.index > 1 %}
            <option value="None" {% if selection['scientificName'] == "None" %}selected{% endif %}>None</option>
            {% endif %}
            {% for name in display['species'] %}
            <option value="{{ name }}" {% if selection['scientificName'] == name %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </datalist>
    </div>
    <div>
        <input type="text" class="common-name-select name-select" autocomplete="off" list="display{{ display_index }}-species-{{ loop.index }}-list" value="{% if selection['speciesType'] == 'scientific'%}None{% else %}{{ selection['commonName'] }}{% endif %}" id="display{{ display_index }}-common-name-{{ loop.index }}-input">
        <datalist id="display{{ display_index }}-species-{{ loop.index }}-list">
            {% if loop.index > 1 %}
            <option value="None">None</option>
            {% endif %}
            {% for name in display['commonNames'] %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </datalist>
    </div>
    <div>
        <select class="year-select" autocomplete="off">
            {% for year in display['years'] %}
            <option value="{{ year }}" {% if selection['year'] == year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    {% if loop.index > 1%}
    <div class="clear-link-holder">
        <a href="#viz-{{ display_index }}" class="clear-link" subject="display{{ display_index }}-type-name-{{ loop.index }}-input">clear</a>
    </div>
    {% endif %}
</div>
{% endfor %}