venv
checks
.gitpod.yml
settings.json
*.pyc
__pycache__
.mypy_cache
build
*.egg-info
dist/
docs/index.md
website/devdocs
website/docs
website/static/paper.pdf
notebooks/.ipynb_checkpoints
afscgapviz/geohashes.db
node_modules
afscgapviz/static/js_third_party
afscgapviz/static/test/qunit*
inst/*.lua
.vscode
