[project]
name = "afscgap"
version = "0.0.1"
authors = [
  { name="A Samuel Pottinger", email="sam.pottinger@berkeley.edu" },
]
description = "Microlibrary for interacting with the public bottom trawl surveys data from the NOAA AFSC GAP API."
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Operating System :: OS Independent",
]
dependencies = ["requests ~= 2.28.2"]

[project.urls]
"Homepage" = "https://github.com/SchmidtDSE/afscgap"
"Bug Tracker" = "https://github.com/SchmidtDSE/afscgap/issues"