name: Build
on: [push]

jobs:
  buildlib:
    runs-on: ubuntu-latest
    name: Check python
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Prepare pip
        run: python -m pip install --upgrade pip
      - name: Install dev dependencies for lib
        run: pip install -e .[dev]
      - name: Install dev dependencies for app
        run: pip install -r afscgapviz/requirements.txt
      - name: Install dev dependencies for snapshot
        run: pip install -r snapshot/requirements.txt
      - name: Install afscgap
        run: pip install .
      - name: Unit tests main
        run: nose2
      - name: Unit test app
        run: nose2 --start-dir=afscgapviz
      - name: Unit test snapshot
        run: nose2 --start-dir=snapshot
      - name: Check types
        run: mypy **/*.py --check-untyped-defs
      - name: Check errors
        run: pyflakes **/*.py
      - name: Check style
        run: pycodestyle **/*.py
  buildviz:
    runs-on: ubuntu-latest
    name: Check js
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Install browser
        run: bash install_browser.sh
      - name: Install node dependencies
        run: pnpm install
      - name: Install browser dependencies
        run: cd afscgapviz; bash load_deps.sh
      - name: Compile with Grunt
        run: grunt
  builddocs:
    runs-on: ubuntu-latest
    name: Check docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build docs
        run: bash build_docs.sh
  joss:
    name: JOSS Draft
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build draft PDF
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: paper/paper.md
      - name: Upload JOSS preview
        uses: actions/upload-artifact@v4
        with:
          name: paper
          path: paper/paper.pdf
